<div class='container px-5 px-sm-0 mt-3'>
  <div class='row'>
    <div class='col-md-12 align-middle'>
      <table>
        <tbody>
          <tr>
            <td class="text-center" style="width: 30%;">お名前</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <td class="text-center" style="width: 30%;">ご用件</td>
            <td><%= @contact.subject %></td>
          </tr>
          <tr>
            <td class="text-center">お問い合わせ内容</td>
            <td style="white-space: pre-wrap;"><%= @contact.message %></td>
          </tr>
        </tbody>
      </table>

      <%= form_with model: @contact, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <div><%= f.submit '送信' %></div>
      <% end %>
      <%= form_with model: @contact, url: back_path, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <div><%= f.submit '入力画面に戻る' %></div>
      <% end %>
    </div>
  </div>
</div>