  <div class="container my-5">
    <div class='row justify-content-center'>
      <div class="slick" style="width: 800px">
        <div><%= image_tag 'apex.jpg' %></div>
        <div><%= image_tag 'fortnite.png' %></div>
        <div><%= image_tag 'PUBG.jpg' %></div>
        <div><%= image_tag 'monhan.png' %></div>
        <div><%= image_tag 'pokemonunite.png' %></div>
      </div>
    </div>
  </div>

  <script>
  $(document).on('turbolinks:load', function(){
   $('.slick').slick({
  	autoplay: true,
  	variableWidth: true,
  	autoplaySpeed: 5000
  });
  });
  </script>