<div class='container px-5 px-sm-0 mt-3'>
  <h2>Add Game Titles</h2>
  <div class='row justify-content-center m-3'>
    <%= form_with model: @genre, url: admin_genres_path, local:true do |f|%>
      <%= f.text_field :name ,placeholder: "ゲームタイトル名" %>
      <%= f.submit '新規登録', class:"btn btn-success"%>
    <% end %>
  </div>
</div>

<tbody>
  <div class="container">
    <div class='row justify-content-center'>
        <table  class="table table-hover table-invers">
            <thead>
              <tr>
                <th>タイトル名</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% @genres.each do |genre| %>
                <td><%= genre.name %></td>
                <td><%= link_to "編集", edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
                <td><%= link_to "削除", admin_genre_path(genre.id), method: :delete, class:"btn btn-danger" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</tbody>